#map {
    height: 350px;
    width: 100%;
}

#btn-search-maps {
    position: absolute;
    display: inline;
    top: -4px;
    right: 16px;
}

/* Section Title */
.section-title {
    width: 100%;
}
.section-title * {
    display: inline-block;
    vertical-align: middle;
}
.section-title .right {
    float: right;
    top: 10px;
}

/* Card */
.card-image-dark {
    background-color: #000;
}
.card-image-dark img {
    opacity: 0.7;
}

/* File Upload and Preview */
.file-upload {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.file-upload input {
    display: none;
}

.thumbnail {
    height: 110px !important;
    width: auto !important;
    margin: 3px;
    float: left;
}

#clear {
    display: none;
}

#file-preview {
    padding: 10px;
    border: 4px dotted #cccccc;
    display: none;    
    float: right;
    margin: 20px auto;
    width: 100%;
}